<app-navbar></app-navbar>

<div class="div">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filter($event)" placeholder="Buscar">
  </mat-form-field>
</div>

<!-- <input type="checkbox" (change)="onCheckboxChange($event)" />
<label for="loadDummyProducts">Cargar Productos de Prueba</label> -->

<div *ngIf="productList.length > 0; else listaVacia" class="card-container">
  <div *ngFor="let producto of productList; let i=index" class="card">
    <div class="card-image">
      <img [src]="producto.imageURL" alt="{{ producto.nombre }} Thumbnail" class="card-thumbnail" />
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ producto.nombre }}</h2>
      <p class="card-text">{{ producto.descripcion }}</p>
      <p class="card-text">Precio: {{ producto.precio }}</p>
      <p class="card-text">Cantidad: {{ producto.cantidad }}</p>
    </div>
    <div class="card-buttons">
      <a  class="" routerLink="./edit/{{i}}">Actualizar</a>
      <button (click)="deleteProduct(producto.nombre)" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
</div>

<ng-template #listaVacia>
  <p>No hay productos en el inventario</p>
</ng-template>


