.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-sizing: border-box;
  margin: 10px;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
}


.card-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  flex: 2;
}

.card-image {
  flex: 1;
}

.card-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
